.dishes {
	min-height: 100vh;
}

.addDishImg {
	margin-top: -18px;
}

.card-product-hover-icons {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.5rem;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.card-product-hover-icons button {
	margin: 2px;
	opacity: 0;
	transform: translateY(50%);
	transition: all 0.35s ease;
}

.card-product-hover:hover button, .card-product-hover.hover button {
	transition: all 0.35s ease;
	opacity: 1;
	transform: translateX(0);
}

.buttonSize {
	width: 4.438rem;
}

button {
	display: block;
}
