::-webkit-input-placeholder {
	text-transform: uppercase;
	color: black;
}

::-moz-placeholder {
	text-transform: uppercase;
	color: black;
}

:-moz-placeholder {
	text-transform: uppercase;
	color: black;
}

:-ms-input-placeholder {
	text-transform: uppercase;
	color: black;
}