.marketing-site-footer {
	background-color: rgb(35, 31, 32);
	color: rgb(233, 205, 168);
	padding: 2rem 0 0;
	font-family: 'Times New Roman', Times, serif;
}

.marketing-site-footer .column-block {
	margin-bottom: 30px;
}

@media screen and (max-width: 766px) {
	.hideNameVillula {
		display: none;
	}
	
	.nameVillula{text-align: center;}
}

@media screen and (max-width: 39.9375em) {
	.marketing-site-footer .columns {
		margin-bottom: 2rem;
	}
}

.marketing-site-footer-name {
	margin-bottom: 1rem;
}

.marketing-site-footer-title {
	color: #fefefe;
	margin-bottom: 1rem;
	font-size: 1.25rem;
}

.marketing-site-footer-block {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 1rem;
}

.marketing-site-footer-block .fa {
	font-size: 1rem;
	color: white;
}

.marketing-site-footer-block p {
	margin-left: 1rem;
	line-height: 1.125rem;
}

.qmargin {
	margin-left: 3.5rem;
}
