<footer class="marketing-site-footer">
  <div class="row medium-unstack">
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-name"><img src={{nameFooter}}></h4>
      <p class="qmargin">"Primus inter pares"</p>
    </div>
    <div class="medium-4 columns text-center"> 
       <h4 class="marketing-site-footer-title"><img src={{contactFooter}}></h4>
      <div class="marketing-site-footer-block">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>1 Central Park West, New York, NY 10023, USA</p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <p>1 (800) 555-5555</p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <p>villularestaurant.@gmail</p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-globe" aria-hidden="true"></i>
        <p> 11:45AM-11PM</p>  
      </div>
    </div>
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-title text-center"><img src={{atmosphereFooter}}></h4>
      <div class="row small-up-3">
        <div class="column column-block">
          <img src={{imgfooter1}} alt="" />
        </div>
        <div class="column column-block">
          <img src={{imgfooter2}} alt="" />
        </div>
        <div class="column column-block">
          <img src={{imgfooter3}} alt="" />
        </div>
        <div class="column column-block">
          <img src={{imgfooter4}} alt="" />
        </div>
        <div class="column column-block">
          <img src={{imgfooter5}} alt="" />
        </div>
        <div class="column column-block">
          <img src={{imgfooter6}} alt="" />
        </div>
      </div>
    </div>
  </div>
	
</footer>
