<form [formGroup]="myForm" #f="ngForm"
	(ngSubmit)="onSubmit(f.value); f.value='';myForm.reset();">

	<div class="form-icons">
		<div class="row">
			<div class="small-3 columns">
				<label class="middle">Name</label>
			</div>
			<div class="small-9 columns">
				<div class="input-group">
					<span class="input-group-label"> <i class="fa fa-coffee"></i>
					</span> <input type="text" maxlength="10" class="input-group-field"
						formControlName="name" name="name" ngModel>
				</div>
				<div>
					<div data-closable class="alert-box callout alert"
						*ngIf="myForm.controls['name'].invalid && myForm.controls['name'].touched">
						<div class="text-left messeng">
							<i class="fa fa-ban"></i> Incorrect name. Please try again.
						</div>

						<button class="close-button" aria-label="Dismiss alert"
							type="button" data-close>
							<span aria-hidden="true" class="cloesMesseng">x</span>
						</button>
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="small-3 columns">
				<label class="middle">URL</label>
			</div>

			<div class="small-9 columns">
				<div class="input-group">
					<span class="input-group-label"> <i class="fa fa-photo"></i>
					</span> <input type="url" required name="imgURL" ngModel
						class="input-group-field" maxlength="200" formControlName="imgURL">
				</div>

				<div data-closable class="alert-box callout alert"
					*ngIf="myForm.controls['imgURL'].invalid && myForm.controls['imgURL'].touched">
					<div class="text-left messeng">
						<i class="fa fa-ban"></i> Incorrect url. Please try again.
					</div>

					<button class="close-button" aria-label="Dismiss alert"
						type="button" data-close>
						<span aria-hidden="true" class="cloesMesseng">x</span>
					</button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="small-3 columns">
				<label class="middle">Price</label>
			</div>
			<div class="small-9 columns">
				<div class="input-group">
					<span class="input-group-label"> <i class="fa fa-dollar"></i>
					</span> <input type="number" required name="price" ngModel
						class="input-group-field" formControlName="price">
				</div>

				<div data-closable class="alert-box callout alert"
					*ngIf="myForm.controls['price'].invalid && myForm.controls['price'].touched">
					<div class="text-left messeng">
						<i class="fa fa-ban"></i> Incorrect price. Please try again.
					</div>

					<button class="close-button" aria-label="Dismiss alert"
						type="button" data-close>
						<span aria-hidden="true" class="cloesMesseng">x</span>
					</button>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="small-12 text-center nameCalendar">Calendar</div>
		</div>
		<div class="row">
			<div class="small-6 columns">
				<div class="input-group">
					<span class="input-group-label"> <i class="fa fa-calendar"></i>
					</span>
					<p-calendar [(ngModel)]="date1" formControlName="calendar1"
						dateFormat="dd.mm.yy" dataType="string" [minDate]="minDate"
						(onSelect)="selectDate($event)" [readonlyInput]="true"
						[locale]="en" placeholder="Date from"
						styleClass="input-group-field" inputStyleClass="form-control"
						class="input-group-field"></p-calendar>
				</div>
			</div>


			<div class="small-6 columns">
				<div class="input-group">
					<span class="input-group-label"> <i class="fa fa-calendar"></i>
					</span> <input type="text" readonly id="calendar2" name="calendar2"
						[(ngModel)]="date2" formControlName="calendar2"
						placeholder="Date to" class="input-group-field">
				</div>

			</div>
		</div>

		<div class="row">
			<div class="small-12 text-center closeButton">
				<button type="submit" class="button large expanded"
					[disabled]="myForm.invalid">Add dish</button>
			</div>
		</div>
	</div>

</form>
