<form [formGroup]="myForm" #f="ngForm"
	(ngSubmit)="onSubmit(f.value); f.value='';myForm.reset();">

	<div class="form-icons">
		<label for="name" class="sucMesseng"
			[hidden]="myForm.controls['name'].invalid">Successfully</label> <label
			for="name" class="errMesseng"
			*ngIf="myForm.controls['name'].invalid">Not successfully</label>
		<div class="row">
			<div class="small-3 columns">
				<label class="middle">Name</label>
			</div>
			<div class="small-9 columns">
				<div class="input-group">
					<span class="input-group-label"> <i class="fa fa-coffee"></i>
					</span> <input type="text" placeholder="up to 10 latin symbols"
						maxlength="10" class="input-group-field" formControlName="name"
						id="name" name="name" ngModel>
				</div>
			</div>
		</div>
		<label for="imgURL" class="sucMesseng"
			[hidden]="myForm.controls['imgURL'].invalid">Successfully</label> <label
			for="imgURL" class="errMesseng"
			*ngIf="myForm.controls['imgURL'].invalid">Not successfully</label>
		<div class="row">
			<div class="small-3 columns">
				<label class="middle">URL</label>
			</div>

			<div class="small-9 columns">
				<div class="input-group">
					<span class="input-group-label"> <i class="fa fa-photo"></i>
					</span> <input type="url"
						placeholder="Begin 'https', up to 100 characters" name="imgURL"
						id="imgURL" class="input-group-field" maxlength="100"
						formControlName="imgURL">
				</div>

			</div>
		</div>
		<label for="price" class="sucMesseng"
			[hidden]="myForm.controls['price'].invalid">Successfully</label> <label
			for="price" class="errMesseng"
			*ngIf="myForm.controls['price'].invalid">Not successfully</label>
		<div class="row">
			<div class="small-3 columns">
				<label class="middle">Price</label>
			</div>
			<div class="small-9 columns">
				<div class="input-group">
					<span class="input-group-label"> <i class="fa fa-dollar"></i>
					</span> <input type="text" placeholder="beginning not from 0, (111.11)"
						id="price" name="price" class="input-group-field"
						formControlName="price">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="small-12 text-center nameCalendar">Calendar</div>
		</div>
		<div class="row">
			<div class="small-6 columns">
				<div class="input-group">
					<span class="input-group-label"> <i class="fa fa-calendar"></i>
					</span>
					<p-calendar [(ngModel)]="date1" formControlName="calendar1"
						dateFormat="dd.mm.yy" dataType="string" [minDate]="minDate"
						(onSelect)="selectDate($event)" [readonlyInput]="true"
						[locale]="en" placeholder="Date from"
						styleClass="input-group-field" inputStyleClass="form-control"
						class="input-group-field"></p-calendar>
				</div>
			</div>


			<div class="small-6 columns">
				<div class="input-group">
					<span class="input-group-label"> <i class="fa fa-calendar"></i>
					</span> <input type="text" readonly id="calendar2" name="calendar2"
						[(ngModel)]="date2" formControlName="calendar2"
						placeholder="Date to" class="input-group-field">
				</div>

			</div>
		</div>






		<div class="row">
			<div class="small-12 text-center closeButton">
				<button type="submit" class="button large expanded"
					[disabled]="myForm.invalid">Add dish</button>
			</div>
		</div>
	</div>

</form>
