.dishes, fieldset {
	margin-top: 90px;
	margin-bottom: 140px;
}
.nameCalendar{margin-bottom: 10px;}
.nameDish::first-letter {
	text-transform: capitalize;
}

input.ng-touched.ng-invalid {
	border: solid red 2px;
}

input.ng-touched.ng-valid {
	border: solid green 2px;
}

form .form-icons {
  text-align: center;
}

form .form-icons .input-group-label {
  background-color: #1779ba;
  border-color: #1779ba;
}

form .form-icons .input-group-field {
  border-color: #1779ba;
}


form .form-icons .fa {
  color: white;
  width: 1rem;
}
