
<div class="top-bar">
	<div class="top-bar-left">
		<ul class="menu">
			<li class="logo"><img src={{urlLogo}} alt="image1" /></li>
		</ul>
	</div>
	<div class="top-bar-right">
		<ul class="menu">
			<li><a routerLink="/addDish" routerLinkActive="active">Add
					Dish</a></li>
			<li><a routerLink="/editDish" routerLinkActive="active">Edit
					Dish</a></li>
			<li><a routerLink="/editDishPrice" routerLinkActive="active">Edit
					Price</a></li>
		</ul>
	</div>
</div>



<router-outlet></router-outlet>
