
<head>
<link rel="stylesheet" href="/assets/images/foundation.min.css">

</head>


<body>
	<div class="top-bar">


		<div class="top-bar-left hide-for-small-only">
			<ul class="menu">
				<li class="logo"><img src={{urlLogo}} alt="image1" /></li>
			</ul>
		</div>
		<div class="top-bar-left">
			<ul class="menu">
				<img src={{nameRestaurant}} alt="image1" />
			</ul>
		</div>

		<div class="top-bar-right">
			<input type="checkbox" name="menu" id="btn-menu" /> <label
				for="btn-menu"><img src={{urlLogo}} alt="image1" /></label>
			<ul class="menu">
				<li><a routerLink="/add-dish" routerLinkActive="active">Add
						Dish</a></li>
				<li><a routerLink="/edit-dish" routerLinkActive="active">Edit
						Dish</a></li>
				<li><a routerLink="/edit-dish-price" routerLinkActive="active">Edit
						Price</a></li>
			</ul>
		</div>
	</div>


	<!-- <nav>
		<div class="top-bar-left hide-for-small-only">
			<ul class="menu top-bar-left hide-for-small-only">
				<li class="logo"><img src={{urlLogo}} alt="image1" /></li>
			</ul>
		</div>
		<div class="top-bar-left">
			<ul class="menu top-bar-left">
				<img src={{nameRestaurant}} alt="image1" />
			</ul>
		</div>

		<input type="checkbox" name="menu" id="btn-menu" /> <label
			for="btn-menu"><img src={{urlLogo}} alt="image1" /></label>

		<ul class="top-bar-right">
			<li><a routerLink="/add-dish" routerLinkActive="active">Add
					Dish</a></li>
			<li><a routerLink="/edit-dish" routerLinkActive="active">Edit
					Dish</a></li>
			<li><a routerLink="/edit-dish-price" routerLinkActive="active">Edit
					Price</a></li>
		</ul>
	</nav>
 -->



	<router-outlet></router-outlet>

	<app-restaurant-footer></app-restaurant-footer>
</body>
