.top-bar {
	position: fixed;
	width: 100%;
	top: -1px;
	z-index: 100;
	 
}

.top-bar, .top-bar ul {
  background-color: rgb(35,31,32);
}

.logo {
	height: 70%;
	padding: 10px;
}

ul, ol, dl {
	list-style: none;
}
a {color: white; 	font-family: 'Times New Roman', Times, serif;} 

[routerLinkActive="active"][_ngcontent-c0]:active {
	font-family: 'Times New Roman', Times, serif;
    color: rgb(233, 205, 168);
}

a:hover,a:active,a:focus {color: rgb(233, 205, 168);}



