.top-bar {
	position: fixed;
	width: 100%;
	top: -1px;
	z-index: 100;
}

.top-bar, .top-bar ul {
	background-color: rgb(35, 31, 32);
}

.logo {
	height: 70%;
	padding: 10px;
}

ul, ol, dl {
	list-style: none;
}

a {
	color: white;
	font-family: 'Times New Roman', Times, serif;
}

[routerLinkActive="active"][_ngcontent-c0]:active {
	font-family: 'Times New Roman', Times, serif;
	color: rgb(233, 205, 168);
}

a:hover, a:active, a:focus {
	color: rgb(233, 205, 168);
}

.top-bar-right label {
	display: none;

	padding: 5px 10px;
	cursor: pointer;
	transition: 0.3s;
}



input[type="checkbox"] {
	display: none;
}

@media screen and (max-width: 776px) {
	.imgCenter img {
		display: none;
	}
	.top-bar{text-align: center;}
}

@media screen and (max-width: 700px) {
	.nameRestaurant img {
		display: none;
	}
	.top-bar{text-align: center;}
}

@media screen and (max-width: 340px) {
	.top-bar-right label {
		display: inline-block;
	}
	.top-bar-right>.menu {
		display: none;
		
	}
		input[type="checkbox"]:checked ~ label {
		position: static;
	}
	input[type="checkbox"]:checked ~ label+ul {
		display: block;
	}
}