.image {
	background-attachment: fixed; background-size: cover;
}

.nameDish::first-letter {
	text-transform: capitalize;
	font-weight: bold;
}
.down{margin-bottom: 25px;}
.thumbnail .imgDish {
	height: 6.25rem;
	width: 12.5rem;
} 

.conteinerDishes {
	margin-bottom: 10px;
}

 .captionDishes {
	background-color: rgb(49, 42, 39);
	margin-bottom: 62px;
} 

.addDishImg{margin-bottom: 35px;}

.bgDishes {
	background-color: rgba(178, 139, 96, .93);
}

.dishes {
	padding-top: 130px;
	padding-bottom: 70px;
}

.card-product-hover-title {
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: 0.2rem;
	z-index: 20;
}

.card-product-hover {
	position: relative;
	line-height: 1.2rem;
	transition: all 0.35s ease;
}

.card-product-hover-details {
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	padding: 1rem;
}

.card-product-hover-details>:last-child {
	margin-bottom: 0;
}

.card-product-hover-price {
	margin: 0.5rem 0;
	font-weight: 700;
	color: rgb(49, 42, 39);
	font-size: #1779ba;
}

 .card-product-hover .imgDish {
	height: 16rem;
} 

.card-product-hover:hover {
	box-shadow: 0 0 0.5px 2px rgba(49, 42, 39, 0.4);
}