.nameDish::first-letter {
	text-transform: capitalize;
	font-weight: bold;
}

h3 .nameDish {
	font-weight: bold;
	color: rgb(49, 42, 39);
}

div .nameForm {
	font-weight: bold;
	color: rgb(49, 42, 39);
}

.conteinerDishes {
	margin-bottom: 10px;
}

.captionDishes {
	background-color: rgb(49, 42, 39);
	color: white;
	margin-bottom: 70px;	
}

.captionDishes img {vertical-align: top;}

.bgDishes {
	background-color: rgba(171, 130, 77, .6);
}

.dishes {
	padding-top: 130px;
	padding-bottom: 70px;
}

.card-product-hover-title {
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: 0.2rem;
}

.card-product-hover {
	position: relative;
	line-height: 1.2rem;
	transition: all 0.35s ease;
}

.card-product-hover-details {
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	padding: 1rem;
}

.card-product-hover-details>:last-child {
	margin-bottom: 0;
}

.card-product-hover-price {
	margin: 0.5rem 0;
	font-weight: 700;
	color: rgb(49, 42, 39);
	font-size: #1779ba;
}

/* .card-product-hover .imgDish {
	height: 16rem;
} */

.card-product-hover:hover {
	filter:;
	box-shadow: 0 0 0.5px 2px rgba(49, 42, 39, 0.4);
}